.tamaños{
    background-color: aqua;
    padding: 10px 10px 10px 20px;
    border-bottom-color: black;
    border-bottom-width: 5px;
    border-bottom-style: dashed;
    margin: 5px;
    width: 250px;
    display:inline-block
}

.tamaños1{
    width: 250px;
    display: inline-block;
    background-color: rgb(255, 13, 0);
    padding: 10px 10px 10px 20px;
    border:1px dashed violet;
}